<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.imisturebas.zechinelao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.imisturebas.zechinelao.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.imisturebas.zechinelao.Eq2Activity" />
        <activity android:name="br.imisturebas.zechinelao.SolucaoActivity" />
        <activity android:name="br.imisturebas.zechinelao.MMCActivity" />
        <activity android:name="br.imisturebas.zechinelao.MDCActivity" />
        <activity android:name="br.imisturebas.zechinelao.FatoracaoActivity" />
        <activity android:name="br.imisturebas.zechinelao.DivisoresActivity" />
        <activity android:name="br.imisturebas.zechinelao.SistemaLinearActivity" />
        <activity android:name="br.imisturebas.zechinelao.MatrizActivity" />
        <activity android:name="br.imisturebas.zechinelao.MenuActivity" />
        <activity android:name="br.imisturebas.zechinelao.SobreActivity"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
